<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!--  Car  -->
    <uses-permission android:name="android.car.permission.READ_CAR_INFO" />
    <uses-permission android:name="android.car.permission.CAR_INFO" />

    <application
        android:name=".CarPropertiesApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.DeveloperWorkshop">
        <activity
            android:name=".presentation.VehiclePropertiesActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.DeveloperWorkshop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>